:root {
  --color-red: #C80000;
  --color-orange: #A75B31;
  --color-yellow: #737300;
  --color-blueviolet: #6B6A9C;
  --color-blueprincipal: #43469A;
  --color-bluesecundary: #E4F0F8;
}

html {
  font-size: 16px;
}

* {
  font-size: 1em;
}

body {
  display: grid;
  column-gap: 10px;
  row-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
    "header header header header header"
    "task-in-progress task-in-progress task-in-progress task-in-progress task-in-progress"
    "sidebar main main main main"
    "footer footer footer footer footer";
  font-family: 'Noto Sans', sans-serif;
}

ul {
  list-style: none;
}

.header-curved {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--color-blueprincipal);
  height: 25vh;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
}

#img-logo{
  margin-right: 15px;
}

.principal-tittle {
  font-family: 'Indie Flower';
  display: inline-flex;
  font-size: 3em;
  margin: 0px;
}

#principal-menu {
  display: inline-flex;
  align-self: center;
  align-items: center;
  padding-inline-start: 0px;
  margin: 0;
}

#principal-menu img {
  width: 16px;
  height: 16px;
}

#principal-menu li:not(:has(img)) {
  position: relative;
  cursor: pointer;
  padding: 7px;
  transition: transform 0.2s;
}

#principal-menu li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.2s;
}

#principal-menu li:not(:has(img)):hover::after {
  background-color: whitesmoke; /* Color de la línea al hacer hover */
}

#principal-menu li:active {
  transform: scale(1.1); /* Incremento de tamaño al hacer clic */
}

a {
  scroll-behavior: smooth;
}

#principal-menu a {
  color: inherit; /* Hereda el color del texto */
  text-decoration: none; /* Elimina la subrayado del enlace */
}

.h2-tittle-section {
  font-size: large;
  color: var(--color-blueprincipal);
  margin: 0;
  padding: 10px 5px;
  margin-bottom: 0.5em;
}

.decoration-text {
  font-family: 'Alex Brush', cursive;
  font-size:larger;
  letter-spacing: 1.5px ;
  font-size: larger;
}

#task-in-progress {
  grid-area: task-in-progress;
  padding-top: 0.5em;
  font-size: xx-large;
  text-align: center;
}

.taskDescription-inProgress {
  display: none; /* Oculta inicialmente el textarea */
}

sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

/*Agregar tareas*/
form#add-task-form,
form#update-task-form {
display: flex;
flex-direction: column;
justify-content: center;
}

form#update-task-form {
  display: none;
}

textarea#new-task-input,
textarea#update-task-input {
  background-color: transparent;
  padding: 5px;
  resize: none;
  border-radius: 5px;
  border-color: var(--color-blueprincipal);
}

textarea#new-task-input:focus,
textarea#update-task-input:focus {
  border: 2px solid var(--color-blueprincipal);
}

form#add-task-form > div,
form#update-task-form > div {
  display: flex;
  justify-content: center;
}

form#add-task-form button,
form#update-task-form button {
  font-size: small;
  margin: 5px ;
  background-color: var(--color-blueprincipal);
  color: var(--color-bluesecundary);
  border: none;
  cursor: pointer;
  padding: 7px 11px;
  border-radius: 11px;
}

form#add-task-form button:hover,
form#update-task-form button:hover {
  background-color: var(--color-bluesecundary);
  color: var(--color-blueprincipal);
  font-weight: bold;
}

form#add-task-form button:active,
form#update-task-form button:active {
  background-color: var(--color-blueprincipal);
  color: var(--color-bluesecundary);
}

/*Botones redondos*/
td.task-position > button {
  position: relative;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  overflow: visible;
}

.circle-button-16 {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
}

.circle-button-32 {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 0px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.circle-button-16::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.button-assign-task-red-list {
  border: 1px solid var(--color-red);
}

.button-assign-task-red-list::before {
  background-color: var(--color-red);
}

.button-assign-task-orange-list {
  border: 1px solid var(--color-orange);
}

.button-assign-task-orange-list::before {
  background-color: var(--color-orange);
}

.button-assign-task-yellow-list {
  border: 1px solid var(--color-yellow);
}

.button-assign-task-yellow-list::before {
  background-color: var(--color-yellow);
}

.button-assign-task-blue-list {
  border: 1px solid var(--color-blueviolet);
}

.button-assign-task-blue-list::before {
  background-color: var(--color-blueviolet);
}

td.task-position > button::before {
  content: attr(data-tooltip);
  font-size: xx-small;
  position: absolute;
  left: 150%;
  top: 100%;
  padding: 5px;
  transform: translateX(-50%);
  background-color: #B3B3B3;
  color: white;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  white-space: nowrap;
  z-index: 9999;
}

.circle-button:hover::before {
  opacity: 1;
  visibility: visible;
}

/*Lista de tareas no categorizadas*/
ul#uncategorized-to-do-list {
padding-left: 5px;
}

li.task-element-item {
  display: flex;
  align-items:center;
  column-gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: silver solid 1px;
}

span.task-description {
  flex-grow: 1;
  font-size:small;
  border: none;
  background-color: transparent;
  padding: 0;
}

.category-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 2px;
}

/*Sección de categorias */
main {
  grid-area: main;
  min-height: 75dvh;
}

.tab-menu {
  background-color: #F0F0F0;
}

.tab-button {
  border: none;
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-right: 1px solid silver;
}

.tab-button:hover {
  background-color: #E0E0E0;
}

.tab-button.active {
  background-color: white;
  border-bottom: 2px solid var(--color-blueprincipal);
}

.tab-button h2 {
  margin: 0;
}

.tab-button:focus {
  outline: none;
}

details summary {
  cursor: pointer;
  position: relative;
  padding: 10px 10px;
}

details summary::before {
  content: "+";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
  font-weight: bold;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  margin-right: 5px;
}

details summary.red-to-do-list-summary::before {
  background-color: var(--color-red);
  color:white;
}

details summary.orange-to-do-list-summary::before {
  background-color: var(--color-orange);
  color:white;
}

details summary.yellow-to-do-list-summary::before {
  background-color: var(--color-yellow);
  color:white;
}

details summary.blue-to-do-list-summary::before {
  background-color: var(--color-blueviolet);
  color:white;
}

details[open] summary::before {
  content: "^";
  display: inline-block;
  transform: translateY(-50%) rotate(180deg);
}

.red-to-do-list-summary:hover {
  text-decoration: underline;
}

table {
  width: 100%;
}

th, td {
  vertical-align: middle;
  border-bottom: 1px solid silver;
}

th {
  font-size: x-small;
  color: #B3B3B3;
  text-align: left;
}

td {
  font-size: small;
  padding: 10px 5px;
}

td.task-description {
  flex: 1;
}

td.task-due-date{
  width: 96px;
}

td.task-position{
  width: 32px;
  text-align: center;
}

td.task-recategory-buttons{
  width: 80px;
}

input.task-due-date-input{
  border: none;
  background-color: transparent;
}

/*Seccion de enfoque*/
#focus-on-section {
  display: none;
}

.taskloader {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.taskloader {
  width: 32px;
  height: 32px;
  background-image: url('../icons/icons8-download-32.png');
}

ul#focusOn-sixList {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin: 0px;
  padding: 10px;
  width: 80%;
}

.return-task-button,
.start-task-button {
  width: 32px;
  height: 32px;
}

.taskElement-focusOn {
  display: flex;
  align-items:center;
  column-gap: 10px;
}
.taskDescription-elementList {
  flex: 1;
  font-size: x-large;
}

  footer {
    grid-area: footer;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  
  footer a {
    color: #444;
    text-decoration: none;
    margin-right: 10px;
  }
  
  footer a:hover {
    color: #0077b5;
  }
  
  footer img {
    margin-right: 10px;
  }