html {
  font-size: 16px;
}

* {
  font-size: 1em;
}

body {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
    "header header header header"
    "task-in-progress task-in-progress task-in-progress task-in-progress"
    "sidebar main main main"
    "footer footer footer footer";
  font-family: 'Noto Sans', sans-serif;
}

ul {
  list-style: none;
}

.header-curved {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #43469a;
  height: 25vh;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
}

#img-logo{
  margin-right: 15px;
}

.principal-tittle {
  font-family: 'Indie Flower';
  display: inline-flex;
  font-size: 3em;
  margin: 0px;
}

#principal-menu {
  display: inline-flex;
  align-self: center;
  align-items: center;
  padding-inline-start: 0px;
  margin: 0;
}

#principal-menu img {
  width: 16px;
  height: 16px;
}

#principal-menu li:not(:has(img)) {
  position: relative;
  cursor: pointer;
  padding: 7px;
  transition: transform 0.2s;
}

#principal-menu li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.2s;
}

#principal-menu li:not(:has(img)):hover::after {
  background-color: whitesmoke; /* Color de la línea al hacer hover */
}

#principal-menu li:active {
  transform: scale(1.1); /* Incremento de tamaño al hacer clic */
}

a {
  scroll-behavior: smooth;
}

#principal-menu a {
  color: inherit; /* Hereda el color del texto */
  text-decoration: none; /* Elimina la subrayado del enlace */
}

.h2-tittle-section {
  font-size: large;
}

.decoration-text {
    font-family: 'Alex Brush', cursive;
    font-size:larger;
    letter-spacing: 1.5px ;
    font-size: larger;
}

#task-in-progress {
  grid-area: task-in-progress;
  padding-top: 0.5em;
  font-size: xx-large;
  text-align: center;
}

.taskDescription-inProgress {
  display: none; /* Oculta inicialmente el textarea */
}

sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

details {
  display: inline-block;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-bottom: 5px;
}

details summary {
  display: inline-block;
  width: 100%;
  padding: 8px 0px 8px 0px;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.red-to-do-list-summary {
  color: #870000;
  background-color: #FFB4B0;
}

details#red-to-do-list-details[open] summary.red-to-do-list-summary {
  color: #FFB4B0;
  background-color:#870000;
}

.orange-to-do-list-summary {
  background-color: #FEC595;
  color: #4B2011;
}

details#orange-to-do-list-details[open] summary.orange-to-do-list-summary {
  background-color: #FFA500;
  color: #4B2011;
}

.yellow-to-do-list-summary {
  background-color: #FFFFCC;
  color: #626100;
}

details#yellow-to-do-list-details[open] summary.yellow-to-do-list-summary {
  background-color:#FDFD66;
  color: #4E4E26;
}

.blue-to-do-list-summary {
  color: #43469A;
  background-color: #8BD5F3;
}

details#blue-to-do-list-details[open] summary.blue-to-do-list-summary {
  color: #D3F7FF;
  background-color: #3D408D;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::before {
  content: '+';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 2px;
  margin-right: 8px;
  text-align: center;
  line-height: 16px;
  font-weight: bold;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

details#red-to-do-list-details summary.red-to-do-list-summary::before {
  background-color: #870000;
  color: #FFB4B0;
}

details#orange-to-do-list-details summary.orange-to-do-list-summary::before {
  color: #FEC595;
  background-color: #4B2011;
}

details#yellow-to-do-list-details summary.yellow-to-do-list-summary::before {
  color: #FFFFCC;
  background-color: #626100;
}

details#blue-to-do-list-details summary.blue-to-do-list-summary::before {
  background-color: #43469A;
  color: #8BD5F3;
}

details[open] summary::before {
  content: '^';
  transform: rotate(-180deg);
}

details#blue-to-do-list-details[open] summary.blue-to-do-list-summary::before {
  color: #3D408D;
  background-color: #D3F7FF;
}

details#yellow-to-do-list-details[open] summary.yellow-to-do-list-summary::before {
  color:#FDFD66;
  background-color: #4E4E26;
}

details#orange-to-do-list-details[open] summary.orange-to-do-list-summary::before {
  color: #FFA500;
  background-color: #4B2011;
}

details#red-to-do-list-details[open] summary.red-to-do-list-summary::before {
  background-color: #FFB4B0;
  color:#870000;
}

/*Agregar tareas*/
form#add-task-form,
form#update-task-form {
display: flex;
flex-direction: column;
justify-content: center;
}

form#update-task-form {
  display: none;
}

textarea#new-task-input,
textarea#update-task-input {
  background-color: transparent;
  padding: 5px;
  resize: none;
  border-radius: 5px;
}
form#add-task-form > div,
form#update-task-form > div {
  display: flex;
  justify-content: center;
}

form#add-task-form button,
form#update-task-form button {
  font-size: small;
  margin: 5px ;
}

/*Botones redondos*/
.category-buttons > button,
td.task-recategory-buttons > button,
td.task-position > button,
.return-task-button,
.start-task-button {
  position: relative;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  overflow: visible;
}

.category-buttons > button::before,
td.task-recategory-buttons > button::before,
td.task-position > button::before,
.return-task-button::before,
.start-task-button::before {
  content: attr(data-tooltip);
  font-size: xx-small;
  position: absolute;
  left: 150%;
  top: 100%;
  padding: 5px;
  transform: translateX(-50%);
  background-color: gray;
  color: white;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  white-space: nowrap;
  z-index: 9999;
}

.category-buttons > button:hover::before,
td.task-recategory-buttons > button:hover::before,
td.task-position > button:hover::before,
.return-task-button:hover::before,
.start-task-button:hover::before {
  opacity: 1;
  visibility: visible;
}

/*Lista de tareas no categorizadas*/
ul#uncategorized-to-do-list {
padding-left: 5px;
}

li.task-element-item {
  display: flex;
  align-items:center;
  column-gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: silver solid 1px;
}

li.task-element-item > .category-buttons {
  flex-basis: 32px;
}

span.task-description {
  flex-grow: 1;
  font-size:small;
  border: none;
  background-color: transparent;
  padding: 0;
}

.category-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

/*Sección de categorias */
main {
  grid-area: main;
  min-height: 75dvh;
}

table {
  width: 100%;
}

th, td {
  vertical-align: middle;
  border-bottom: 1px solid silver;
}

th {
  font-size: x-small;
  color: gray;
  text-align: left;
}

td {
  font-size: small;
  padding: 10px 5px;
}

td.task-description {
  flex: 1;
}

td.task-due-date{
  width: 96px;;
}

td.task-position{
  width: 32px;
  text-align: center;
}

td.task-recategory-buttons{
  width: 80px;
}

input.task-due-date-input{
  border: none;
}

/*Seccion de enfoque*/
#focus-on-section {
  display: flex;
  flex-direction: column;
}

.taskloader {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.taskloader {
  width: 32px;
  height: 32px;
  background-image: url('../icons/icons8-download-32.png');
}

ul#focusOn-sixList {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin: 0px;
  padding: 10px;
  width: 80%;
}

.return-task-button,
.start-task-button {
  width: 32px;
  height: 32px;
}

.taskElement-focusOn {
  display: flex;
  align-items:center;
  column-gap: 10px;
}
.taskDescription-elementList {
  flex: 1;
  font-size: x-large;
}

  footer {
    grid-area: footer;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  
  footer a {
    color: #444;
    text-decoration: none;
    margin-right: 10px;
  }
  
  footer a:hover {
    color: #0077b5;
  }
  
  footer img {
    margin-right: 10px;
  }